<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Fact</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="fact-wrapper">
        <h2>Add a New Pet Fact</h2>
        <!-- ADD NEW FACT FORM -->
        <form action="/facts", method="POST">
            <!-- PERSON'S NAME -->
            <div class="form-group">
                <label html="submitter">Name</label>
                <span class="required-field">*</span>
                <input class="form-control" id="submitter" name="submitter" required>
            </div>
    
            <!-- FACT -->
            <div class="form-group">
                <label html="fact">Fact</label>
                <span class="required-field">*</span>
                <textarea name="fact" required></textarea>
            </div>
    
            <!-- SUBMIT BUTTON -->
            <input type="submit" class="fact-button" value="Add Fact">
    
            <!-- GO BACK BUTTON -->
            <button class="back-button">
                <a href="/pets">
                    Go Back
                </a>
            </button>
    
        </form>

    </div>
    
</body>
</html>